.heroWrapper {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	/* object-fit: cover; */
	position: relative;
	border-radius: 20px;
}
.heroWrapper video {
	display: flex;
	width: 100%;
	height: 500px;
	object-fit: fill;
	border-radius: 20px;
	/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.heroContent {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--light-color);
}
.heroContent h1 {
	font-size: 6rem;
}
.heroContent p {
	font-size: 2rem;
	margin-bottom: 20px;
}

.heroOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--heroOverlay);
	border-radius: 20px;
}

.heroBtn {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	font-size: 1.7rem;
	padding: 10px 20px;
	border: 1px solid var(--light-color);
	border-radius: 15px;
	transition: all 300ms ease-in-out 0s;
	/* background-color: var(--background-dark); */

	background: rgb(0, 255, 255);
	background: -moz-linear-gradient(
		135deg,
		rgba(0, 255, 255, 1) 0%,
		rgba(105, 0, 255, 1) 25%,
		rgba(105, 0, 255, 1) 75%,
		rgba(0, 255, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		135deg,
		rgba(0, 255, 255, 1) 0%,
		rgba(105, 0, 255, 1) 25%,
		rgba(105, 0, 255, 1) 75%,
		rgba(0, 255, 255, 1) 100%
	);
	background: linear-gradient(
		135deg,
		rgba(0, 255, 255, 1) 0%,
		rgba(105, 0, 255, 1) 25%,
		rgba(105, 0, 255, 1) 75%,
		rgba(0, 255, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffff",endColorstr="#00ffff",GradientType=1);
}
.heroBtn:hover {
	/* border: 1px solid var(--background-dark); */
	/* color: var(--background-dark); */
	/* background-color: var(--highlight-blue); */
	transform: scale(1.1);
}
.heroBtn:active {
	transform: scale(0.9);
}

@media only screen and (max-width: 750px) {
	.heroContent h1 {
		font-size: 3rem;
	}
	.heroContent p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.heroWrapper {
		width: 100%;
		height: 300px;
		/* object-fit: cover; */
		position: relative;
	}
	.heroWrapper video {
		height: 300px;
	}

	.content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: var(--light-color);
	}
}
