.main {
	background-color: var(--background-dark);
	width: 100%;
	min-height: 100vh;
	max-width: 900px;
	padding: 0 20px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 20px;
}
.main h2 {
	text-align: center;
	width: 80px;
	margin: 0 auto 10px;
	border-bottom: 2px solid var(--light-color);
}

.headWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.header {
	font-size: 2rem;
}
.description {
	color: var(--light-color);
	padding: 0 20px;
}
.headWrap a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
.headWrap a:hover {
	cursor: pointer;
	border-bottom: 2px solid var(--highlight-blue);
}

.musicSection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 20px;
}
.musicCard {
	height: 400px;
	width: 320px;
	margin: 0 auto;
	border: 0px;
}

.mixSection {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.mixCard {
	margin: 0 auto;
	border: 0px;
	width: 70%;
	min-width: 310px;
}
.mixCard > div {
	font-size: 10px;
	color: var(--light-color);
	line-break: anywhere;
	word-break: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-weight: 100;
}
.mixCard > div > a {
	color: var(--light-color);
	text-decoration: none;
	font-size: 1rem;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}
