.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    gap: 50px;
}

.imgWrapper {
    display: grid;
    place-items: center;
}

.img {
    width: 500px;
    height: 500px;
    max-width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .imgWrapper {
        display: none;
    }
}