.wrapper {
	max-width: 600px;
	margin: 0 auto;
}

.contactHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.contactFormInput {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 30px 0;
	font-size: 18px;
	height: 50px;
	background-color: var(--background-dark);
	color: var(--light-color);
	border: 1px solid var(--form-outline-gray);
}

.contactFormTextArea {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 20px 0 10px;
	font-size: 18px;
	font-family: Inter, sans-serif;
	color: var(--light-color);
	background-color: var(--background-dark);
	color: var(--light-color);
	border: 1px solid var(--form-outline-gray);
}

.datePickLabel {
	font-size: 1.3rem;
	padding: 1px 0;
	margin-bottom: 20px;
}
.contactDatePicker {
	appearance: none;
	border-color: var(--background-dark);
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: var(--background-dark);
}

.contactFormSubmit {
	margin-top: 20px;
	background-color: var(--light-color);
	color: var(--background-dark);
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 5px;
	border: none;
	font-size: 22px;
	width: 100%;
}

/* FOLLOW GUIDE BELOW FOR VALIDATION STYLING */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel */
