.wrapper {
	max-width: 600px;
	margin: 0 auto;
}

.contactHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.form label {
	font-size: 1rem;
}

.inputWrapper {
	display: grid;
	grid-template-columns: minmax(min-content, 100px) 1fr 10px;
	gap: 10px;
	align-items: center;
	position: relative;
}

.validity {
	padding-right: 20px;
	padding-bottom: 20px;
}
input:invalid + .validity::after {
	position: absolute;
	content: "✖";
	padding-left: 5px;
	color: #8b0000;
}

input:valid + .validity::after {
	position: absolute;
	content: "✓";
	padding-left: 5px;
	color: #009000;
}

.contactFormInput {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 30px 0;
	font-size: 18px;
	height: 50px;
	background-color: var(--background-dark);
	color: var(--light-color);
	border: 1px solid var(--form-outline-gray);
}

.msgInputWrapper {
	position: relative;
	margin-bottom: 20px;
}

.contactFormTextArea {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 20px 0 10px;
	font-size: 18px;
	font-family: Inter, sans-serif;
	color: var(--light-color);
	background-color: var(--background-dark);
	color: var(--light-color);
	border: 1px solid var(--form-outline-gray);
}

.datePickLabel {
	padding: 1px 0;
	/* margin-bottom: 20px; */
}
.contactDateWrapper {
	margin: 0 auto;
	width: 50%;
}
.contactDatePicker {
	appearance: none;
	border-color: transparent;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	margin: 0 auto;
	background-color: var(--form-outline-gray);
	border-radius: 10px;
}
.contactDatePicker:hover {
	border: solid 1px var(--light-color);
	box-shadow: 0px 0px 2px 2px var(--light-color);
}

.contactFormSubmit {
	margin-top: 20px;
	background-color: var(--light-color);
	color: var(--background-dark);
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 5px;
	border: none;
	font-size: 22px;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.inputWrapper {
		display: block;
	}
}

/* FOLLOW GUIDE BELOW FOR VALIDATION STYLING */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel */
