.wrapper {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1001;
	top: 0;
	max-width: 1200px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	background-color: var(--background-dark);
}

.logoWrapper {
	display: flex;
	align-items: center;
	margin-left: 10px;
	z-index: 1002;
	border-radius: 15px;
	box-shadow: 0 0 15px 2px var(--highlight-blue);
	transition: all 0.5s ease;
}
.logoWrapper:hover {
	cursor: pointer;
	box-shadow: 0 0 25px 4px var(--highlight-blue);
}
.logoWrapper:active {
	transform: scale(0.9);
}

.logoLink {
	color: var(--light-color);
	font-weight: 700;
	font-size: 32px;

	text-shadow: 0 0 var(--light-color), 0 1.5em var(--highlight-purple);
	overflow: hidden;
	transition: 0.4s;
}
.logo {
	background-size: contain;
	border-radius: 15px;
}

.nav {
	display: none;
	box-sizing: border-box;
	margin-right: 20px;
}
.navLink {
	color: var(--light-color);
	font-size: 1.2rem;
	border-bottom: 3px solid transparent;
	transition: all 0.5s ease-out;
}
.navLink:hover {
	color: var(--highlight-blue);
}
.navLink:active {
	transform: scale(0.9);
}
.navLinkActive {
	padding-bottom: 2px;
	font-size: 110%;
	border-bottom: 3px solid var(--light-color);
}
.navLinkActive > * {
	color: var(--highlight-blue);
}

@media only screen and (min-width: 650px) {
	.nav {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.logoWrapper {
		margin-left: 40px;
	}
}
