.myBtn {
	display: block; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: var(--highlight-blue); /* Set a background color */
	color: var(--background-dark); /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	border: 1px solid transparent;
	transition: all 300ms ease-in-out 0s;
}

.myBtn:hover {
	background-color: var(
		--lowlight-blue
	); /* Add a dark-grey background on hover */
	color: var(--light-color);
	border: 1px solid var(--highlight-blue);
	box-shadow: 0px 0px 3px 3px var(--highlight-blue);
}
.myBtn:active {
	transform: scale(0.8);
}
