.wrapper {
	/* font-family: Poppins,sans-serif; */
	opacity: 1;
	margin-top: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 40px 0 20px;
	display: flex;
	justify-content: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.iconWrapper {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	/* background-color: var(--lessDarkColor); */
	margin: 0 10px;
	transition: transform 0.3s;
	display: grid;
	place-items: center;
}

.iconWrapper img {
	width: 25px;
}

img {
	max-width: 100%;
	height: auto;
}
