.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* padding: 6rem; */
	width: 100%;
	min-height: 100vh;
}

.heroWrapper {
	width: 100%;
	height: 600px;
	/* object-fit: cover; */
	position: relative;
}
.heroWrapper video {
	height: 600px;
}

.heroContent {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
}

.heroOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.heroBtn {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 15px;
	background-color: black;
}
.heroBtn:hover {
	border: 1px solid black;
	color: black;
	background-color: aqua;
}

@media only screen and (max-width: 600px) {
	.heroWrapper {
		width: 100%;
		height: 300px;
		/* object-fit: cover; */
		position: relative;
	}
	.heroWrapper video {
		height: 300px;
	}

	.content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
	}
}
