.main {
	background-color: var(--background-dark);
	min-width: 300px;
	margin: 0 auto 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.description {
	color: var(--light-color);
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.spinner {
		animation: load-spin infinite 3.33s linear;
	}
}

@keyframes load-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
