.wrapper {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	background-color: var(--backgroundDark);
	z-index: 1001;
}

.logoWrapper {
	display: flex;
	align-items: center;
	z-index: 1002;
}

.logo {
	/* height: 6em;
    padding: 1.5em; */
	/* font-family: Poppins,sans-serif; */
	line-height: 0.7em;
	color: #0000;
	padding: 10px 20px;
	font-weight: 700;
	font-size: 32px;

	text-shadow: 0 0 var(--whiteColor), 0 1.5em var(--navActiveUnderlineColor);
	overflow: hidden;
	transition: 0.4s;
}
.logo:hover {
	text-shadow: 0 -1.5em var(--whiteColor), 0 0 var(--navActiveUnderlineColor);
}

.nav {
	display: none;
	box-sizing: border-box;
}
.navLink {
	color: var(--whiteColor);
	padding: 10px 0;
	margin: 0 20px;
	font-size: 1.2rem;
	/* font-family: Poppins,sans-serif; */
}
.navLinkActive {
	color: var(--whiteColor);
	padding: 7px 0;
	margin: 0 20px;
	font-size: 1.3rem;
	border-bottom: 3px solid var(--navActiveUnderlineColor);
}

/* hamberder menu */
.hamburgerWrapper {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.hamburgerBox {
	display: inline-block;
	cursor: pointer;
	z-index: 1003;
}
.hamburgerBox div {
	width: 35px;
	height: 5px;
	background-color: var(--whiteColor);
	margin: 6px 0;
	transition: 0.4s;
}

.hamburgerMenu {
	display: none;
}
.hamburgerMenuActive {
	position: absolute;
	display: grid;
	place-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 20vh 20px;
	background-color: var(--backgroundDark);
	text-align: center;
	z-index: 1000 !important;
}

.hamburgerLink {
	opacity: 1;
	display: block;
	font-size: 30px;
	/* font-family: Poppins, sans-serif; */
	color: var(--whiteColor);
}
.hamburgerLinkActive {
	opacity: 1;
	display: block;
	font-size: 30px;
	/* font-family: Poppins, sans-serif; */
	color: (var(--navActiveUnderlineColor));
}
.hamburgerLineOne {
	transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburgerLineTwo {
	opacity: 0;
}
.hamburgerLineThree {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 600px) {
	.nav {
		display: flex;
		align-items: center;
		/* display: none; */
	}
	.hamburgerWrapper {
		display: none;
		/* display: flex;
        align-items: center;
        margin: 0 20px; */
	}
}
