.wrapper {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1001;
	top: 0;
	max-width: 1200px;
	width: 100%;
	padding: 10px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	background-color: var(--background-dark);
}

.logoWrapper {
	display: flex;
	align-items: center;
	z-index: 1002;
}

.logoLink {
	color: #e6e6e6;
	font-weight: 700;
	font-size: 32px;

	text-shadow: 0 0 white, 0 1.5em purple;
	overflow: hidden;
	transition: 0.4s;
}
.logoLink:hover {
	text-shadow: 0 -1.5em yellow, 0 0 purple;
	cursor: pointer;
}
.logo {
	background-size: contain;
}

.nav {
	display: none;
	box-sizing: border-box;
	margin-right: 20px;
}
.navLink {
	color: white;
	font-size: 1.2rem;
	border-bottom: 3px solid transparent;
}
.navLink:hover {
	color: aqua;
}
.navLinkActive {
	padding-bottom: 2px;
	font-size: 110%;
	border-bottom: 3px solid white;
}
.navLinkActive > * {
	color: aqua;
}

/* hamberder menu */
.hamburgerWrapper {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.hamburgerBox {
	display: inline-block;
	cursor: pointer;
	z-index: 1003;
}
.hamburgerBox div {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.hamburgerMenu {
	display: none;
}
.hamburgerMenuActive {
	position: absolute;
	display: grid;
	place-items: center;
	gap: 20px;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-dark);
	text-align: center;
	z-index: 1000 !important;
}

.hamburgerLink {
	opacity: 1;
	display: block;
	font-size: 30px;
	color: white;
}
.hamburgerLinkActive {
	opacity: 1;
	display: block;
	font-size: 30px;
	color: aqua;
}
.hamburgerLineOne {
	transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburgerLineTwo {
	opacity: 0;
}
.hamburgerLineThree {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 600px) {
	.nav {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.hamburgerWrapper {
		display: none;
		position: relative;
	}
}

/* AUTH */
/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
	display: block;
	min-height: 4rem;
	width: 100%;
}

.loading,
.loaded {
	position: relative;
	top: 0;
	opacity: 1;
	overflow: hidden;
	border-radius: 0 0 0.6rem 0.6rem;
	padding: 0.6rem 1rem;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease-in;
}

.loading {
	top: -2rem;
	opacity: 0;
}

.signedInText,
.notSignedInText {
	position: absolute;
	padding-top: 0.8rem;
	left: 1rem;
	right: 6.5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inherit;
	z-index: 1;
	line-height: 1.3rem;
}

.signedInText {
	padding-top: 0rem;
	left: 4.6rem;
}

.avatar {
	border-radius: 2rem;
	float: left;
	height: 2.8rem;
	width: 2.8rem;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
}

.button,
.buttonPrimary {
	float: right;
	margin-right: -0.4rem;
	font-weight: 500;
	border-radius: 0.3rem;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.4rem;
	padding: 0.7rem 0.8rem;
	position: relative;
	z-index: 10;
	background-color: transparent;
	color: #555;
}

.buttonPrimary {
	background-color: #346df1;
	border-color: #346df1;
	color: #fff;
	text-decoration: none;
	padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navItems {
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
}

.navItem {
	display: inline-block;
	margin-right: 1rem;
}
