.wrapper {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1001;
	top: 0;
	max-width: 1200px;
	width: 100%;
	padding: 10px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	background-color: black;
}

.logoWrapper {
	display: flex;
	align-items: center;
	z-index: 1002;
}

.logoLink {
	color: #e6e6e6;
	font-weight: 700;
	font-size: 32px;

	text-shadow: 0 0 white, 0 1.5em purple;
	overflow: hidden;
	transition: 0.4s;
}
.logoLink:hover {
	text-shadow: 0 -1.5em yellow, 0 0 purple;
	cursor: pointer;
}
.logo {
	background-size: contain;
}

.nav {
	display: none;
	box-sizing: border-box;
	margin-right: 20px;
}
.navLink {
	color: white;
	font-size: 1.2rem;
	border-bottom: 3px solid transparent;
}
.navLink:hover {
	color: aqua;
}
.navLinkActive {
	padding-bottom: 2px;
	font-size: 110%;
	border-bottom: 3px solid white;
}
.navLinkActive > * {
	color: aqua;
}

/* hamberder menu */
.hamburgerWrapper {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.hamburgerBox {
	display: inline-block;
	cursor: pointer;
	z-index: 1003;
}
.hamburgerBox div {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.hamburgerMenu {
	display: none;
}
.hamburgerMenuActive {
	position: absolute;
	display: grid;
	place-items: center;
	gap: 20px;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	text-align: center;
	z-index: 1000 !important;
}

.hamburgerLink {
	opacity: 1;
	display: block;
	font-size: 30px;
	color: white;
}
.hamburgerLinkActive {
	opacity: 1;
	display: block;
	font-size: 30px;
	color: aqua;
}
.hamburgerLineOne {
	transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburgerLineTwo {
	opacity: 0;
}
.hamburgerLineThree {
	transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 600px) {
	.nav {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.hamburgerWrapper {
		display: none;
		position: relative;
	}
}
